body {
  font-family: "Tinos", serif !important;
  color: black;
  background-color: beige;
}

#subtitle {
  font-family: "Libre Baskerville", serif !important;
  color: black;
}

.btn-secondary {
  color: black !important;
  border-radius: 0px !important;
  border: 1px solid #c4c4c4 !important;
  background-color: #c4c4c4 !important;
}

.btn-success {
  background-color: #9b1b3b !important;
  border: 1px solid #9b1b3b !important;
  border-radius: 0px !important;
}

.card {
  border-style: inset !important;
  /* border-width: 3px !important; */
  /* border: 4px solid rgb(216, 213, 213) !important; */
  border-radius: 0px !important;
}

.btn-outline-dark {
  border-radius: 0px !important;
}

.btn {
  border-radius: 0px !important;
}

.badge {
  border-radius: 0px !important;
}

.input-group {
  border-radius: 0px !important;
}

.btn-primary {
  background-color: black !important;
  color: white !important;
  border-color: black;
}

.form-control {
  border-radius: 0px !important;
}

.label {
  background-color: #ffbc42 !important;
}

.badge-c {
  background-color: #dc785a !important;
}

.badge-p {
  background-color: #db324d !important;
}

.badge-j {
  background-color: #870058 !important;
  color: white !important;
}

.btn-yellow {
  background-color: #fcd99f !important;
}

.btn-outline-primary {
  color: black !important;
  background-color: #fcd99f !important;
  border-color: #fcd99f !important;
}

#badge-cart {
  background-color: #ffbc42 !important;
}
